.position {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /*width: 200px;*/
    width: 100%;
    height: 115px;
    padding: 10px;
    color: white;
    justify-content: space-between;
    transition: transform 0.3s ease, z-index 0.3s ease;

}

.position:hover {
    transform: scale(1.05);

}

.textPosition {
    margin-bottom: -10px;
}

.boldedText {
    font-weight: bold;
}

.needMarginBottom {
    margin-bottom: 7px;
}

.twoThings {
    display: flex;
    flex-direction: row;
    margin-top: -13px;
    justify-content: space-between;
}

.accountNumberType {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.money {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.smallText {
    font-size: 13px;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numberPosition {
    display: flex;
    flex-direction: column;
    align-items: center;
}
