* {
    font-family: Bahnschrift, serif;
}

.homePage {
    display: flex;
    flex-direction: column;
    /*background-color: green;*/
}

.contentWrapper {
    display: flex;
    flex-direction: row;
}

.leftSidePosition {
    width: 49vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;

    /*background-color: blue;*/
}

.transactionPosition {
    width: 29vw;
    /*background-color: magenta;*/
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.marginL {
    margin-left: 20px;
}

.linkTo {
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-top: 16px;
    transition: all 0.3s ease;
}

.linkTo:hover {
    transform: scale(1.05);
    font-weight: bold;
    /*font-size: 16px;*/
}

.sameHeight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}


