* {
    font-family: Bahnschrift, serif;
}

.homePage {
    display: flex;
    flex-direction: column;
    /*background-color: green;*/
    /*width: 100%;*/
}

.contentWrapper {
    display: flex;
    flex-direction: row;

}

.leftSidePosition {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

/*.balancePosition {*/
/*    display: flex;*/
/*    !*flex-direction: row;*!*/
/*    flex-wrap: wrap;*/
/*    position: absolute;*/
/*    width: 50vw;*/
/*    !*background-color: red;*!*/
/*}*/

/*.properMargin {*/
/*    margin-left: 22%;*/
/*    margin-top: 17%;*/
/*}*/

.transactionPosition {
    width: 29vw;
    /*background-color: magenta;*/
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.marginL {
    margin-left: 20px;
}

.linkTo {
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-top: 16px;
    transition: all 0.3s ease;
}

.linkTo:hover {
    /*transform: scale(1.1);*/
    font-weight: bold;
    /*font-size: 16px;*/
}

.sameHeight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}


