.container {
    width: 100%;
}


.choiceWrapper{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;

}
.data{
    display: flex;
    justify-content: center;
    width: 100%;
}

.accountWrapper{
    padding: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.dataWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}


.summaryContainer {
    display: flex;
    /*align-items: center;*/
}

.wrapperPrint{
    padding: 15px;
    margin: 10px;
}


.horiz {
    display: flex;
    justify-content: center;
}

.applyBtn {
    font-size: 16px;
    padding: 15px 30px;
    background-color: var(--darkBlue);
    color: var(--black);
    font-weight: bold;
    border: none;
    cursor: pointer;
}
