
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.headline {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}
.form input:disabled {
    background-color: rgba(127,127,127,0.5);
    color: black;
    opacity: 1;
}

.horz {
    display: flex;
    flex-wrap: wrap;
    /*width: 100%;*/
}

.dataWrapper{
    display: flex;
    flex-direction: column;
    margin: 15px;

}

.dataWrapper input{
    margin: 10px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 200px;

}

.dataWrapper p {
    padding: 10px;
    font-weight: bold;
}

.submit {
    padding: 15px 40px;
    background-color: var(--blue);
    border-radius: 5px;
    border: var(--blue);
    cursor: pointer;
}

.radio {
    display: flex;
}
.radio p {
    font-weight: normal;
    margin: 14px 0;
}
.radio input {
    width: 14px;
    accent-color: var(--darkBlue);
}

.btnToRight{
    margin: 30px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.wrongData {
    color: red;
    font-weight: bold;
    display: none;
}


