.containerFluid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sort {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.sort p {
    text-align: center;
}
.sort div {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.container {
    overflow: auto;
    width: 100%;
    height: 90%;
}

.transactionCircle {
    width: 60px;
}

.shortPayment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: center;
    transition: transform 0.3s ease, z-index 0.3s ease;
    border-radius: 15px;
    background-color: #ececec;
    padding-right: 10px;
    /*padding: 5px;*/
}

.shortPayment.hovered {
    transform: scale(1.04);
    z-index: 1;
    background-color: #D3E0EA;
}

.imagePosition {
    display: flex;
    flex-direction: row;
    margin-left: 7px;
}

.imgWidth {
    width: 60px;
}

.shortPaymentText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 24vw;

    /*background-color: coral;*/
}

.paymentTextPosition{
    display: flex;
    flex-direction: column;

    /*background-color: #a63b40;*/
}

.newPaymentTextPosition {
    display: flex;
    flex-direction: row;
    width: 22vw;
    align-items: flex-start;
    /*justify-content: space-between;*/

    /*background-color: red;*/
}

.lastPaymentTextPosition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /*background-color: green;*/
}

.balanceTextPosition {
    display: flex;
    flex-direction: row-reverse;
    width: 160px;
    align-items: flex-end;

    /*background-color: blue;*/
}

.transactionTextDecoration {
    margin: 0;
}

.transactionTextSmall {
    font-size: 13px;
}

.paymentTextSize {
    font-size: 22px;
}

.columnPosition {
    display: flex;
    flex-direction: column;
}

.rowPosition {
    display: flex;
    flex-direction: row;
}
