
.container {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #65b6d5;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.container > p {
    font-weight: bold;
    font-size: 18px;
}




.formPhone {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
}



.submitWrapper {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.submit {
    background-color: var(--black);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}



.wrongTransferText {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.successionText {
    color: green;
    font-size: 16px;
    font-weight: bold;
}
.textHidden {
    visibility: hidden;
}
.textVisible {
    visibility: visible;
}
