.transfersContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;

}

.transferType {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*background-color: coral;*/
}

.transferShowFields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
