.transferAccountNumberContainer {
    display: flex;
    flex-direction: column;
    width: 35vw;
    align-items: center
}

.addForm {
    display: flex;
    flex-direction: column;
    width: 35vw;

    /*background-color: red;*/
}

.addLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    /*background-color: #1687A7;*/
}

.formControl {
    width: 60%;
    height: 30px;
    background-color: #D3E0EA;
    color: black;
    border-color: #276678;
    border-radius: 15px;
    margin-bottom: 12px;
}


.formControl:focus {
    background-color: #F6F5F5;
    color: #1687A7;
    border-color: #276678;
}

.formControl::placeholder {
    color: #1687A7;
    border-color: #276678;
}


.addMargin {
    margin-left: 5px;
}

.btnColor {
    color: #1687A7;
    background-color: #F6F5F5;
    border-color: #276678;
    border-width: 1px;
    height: 40px;
    border-radius: 15px;
}

.btn {
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}
