.verticalNavbar {
    position: fixed;
    top: 15%;
    left: 0;
    width: 15%;
    height: 50%;
    /*background: rgba(0, 0, 0, 0.7);*/
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: -10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 120%;
    /*margin-left: -10px;*/
}

.navImages {
    width: 10%;
    vertical-align: middle;
    margin-left: -10px;
    margin-top: -3%;
}
