.containerFluid {
    display: flex;
    flex-grow: 1;
    background-color: white;
    border-radius: 20px;
    /*margin: 20px;*/
}

.appTop {
    display: flex;
    flex-direction: column;
}

.backgroundWrapper {
    background-color: #F6F5F5;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
}

.mainWindow {
    width: 100%;
}
