.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.horizontal {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.container p {
    font-size: 24px;
}

.wrapperCards {
    display: flex;
}

/*.wrapperCards div {*/
/*    width: 30%;*/
/*}*/
.wrapperCards div p{
    font-size: 14px;
}

img {
    width: 25vw;
}
