.balance {
    width: 320px;
    height: 175px;
    /*width: 30%;*/
    /*height: 73%;*/
    border-radius: 8px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    transition: transform 0.3s ease, z-index 0.3s ease;
    text-decoration: none;
}

.balanceText {
    display: flex;
    flex-direction: column;
    margin: 9px;
    padding: 0px;
    font-size: 16px;
    color: white;

    /*background-color: red;*/
}

.directionText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*background-color: blue;*/
}

/*.balance.hovered {*/
/*    transform: scale(1.05);*/
/*    z-index: 1;*/
/*}*/

.marginTop {
    margin-top: 5px;
}

.textRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;

    /*background-color: chartreuse;*/
}

.paddingRight {
    /*padding: 10px;*/
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/*.marginLeft {*/
/*    margin-left: 15px;*/
/*}*/

.textLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25%;

    /*background-color: #512486;*/
}

.ownerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;

    /*background-color: #00c09d;*/
}

.chipPlace {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 17px;

    /*background-color: yellow;*/
}

.chip {
    width: 40px;
}

.chipPlace img {
    margin: -15px;
}

.textDecoration {
    margin: 0px;
}

.fontSize {
    font-size: 21px;
    margin: -1px;
}

.accountDetails {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 13px;
    color: white;

    /*background-color: darkgreen;*/
}

.backSide {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    /*transform: rotateY(180deg);*/
    transform: rotateY(180deg) rotateZ(180deg) rotateX(180deg);
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    color: white;
    border-radius: 8px;
}

.revert {
    top: 87px;
    left: 14px;
    position: absolute;
    transform: rotateX(180deg) rotateZ(200deg);
}

.photo {
    width: 190px;
}

.revertContainer {
    display: flex;
    flex-direction: column;
}

.rotate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-top: 14px;*/
    /*margin-right: 20px;*/
    transform: rotateY(180deg);
    width: 155px;
    position: absolute;
    top: 70px;
    right: 16px;
    box-shadow: 0px 0px 12px 0px rgba(66, 68, 90, 1);

    /*background-color: red;*/
}

.margin {
    margin-right: 55px;
}

.cardSlider {
    display: flex;
    flex-direction: column;
    height: 40px;
    margin-top: 15px;
    background-color: black;
}
