.balance {
    background-color: #D3E0EA;
    width: 300px;
    height: 135px;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.balanceText {
    margin: 10px;
    padding: 0px;
    color: black;
    font-size: 16px;
}

.textDecoration {
    margin: 0px;
}

.fontSize {
    font-size: 21px;
    margin: -1px;
}

.accountDetails {
    margin-top: 2px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 13px;
}
