.transactionCircle {
    width: 60px;
}

.shortPayment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.shortPayment.hovered {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    z-index: 1;
}

.shortPaymentText {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30vw;
}

.paymentTextPosition{
    display: flex;
    flex-direction: column;
    /*width: 200px;*/
}

.nextPaymentTextPosition {
    display: flex;
    flex-direction: column;
    width: 170px;
    align-items: flex-start;
    /*margin-left: 10px;*/
}

.balanceTextPosition {
    display: flex;
    flex-direction: column;
    width: 170px;
    align-items: flex-end;
    /*margin-left: 10px;*/
}

.transactionTextDecoration {
    margin: 0;
}

.transactionTextSmall {
    font-size: 13px;
}

.paymentTextSize {
    font-size: 22px;
}
