* {
    font-family: Bahnschrift;
}

.homePage {
    display: flex;
    flex-direction: column;
    /*background-color: green;*/
}

.contentWrapper {
    display: flex;
}

.leftSidePosition {
    display: flex;
    flex-direction: column;
}

.balancePosition {
    width: 50vw;
    display: flex;
    flex-direction: row;
    /*margin-right: 10px;*/
    justify-content: center;
}

.chartPosition {
    /*justify-content: center;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*margin-top: 20px;*/
}

.transactionPosition {
    width: 30vw;
    /*background-color: magenta;*/
    display: flex;
    flex-direction: column;
}

.marginL {
    margin-left: 20px;
}

.smallLetters {
    font-size: 13px;
}

