.firstSection {
    /*width: 30%;*/
    display: flex;
    flex-direction: column;
}

ul {
    margin-top: -8px;
    list-style: none;
    padding: 0;

}

li {
    margin-top: -7px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;

}

.navImages {
    width: 32px;
    vertical-align: middle;

}

.verticalNavbar {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}
