.verticalNavbar {
    position: fixed;
    top: 1%;
    left: 0;
    width: 200px;
    height: 50%;
    /*background: rgba(0, 0, 0, 0.7);*/
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;

}

li {
    margin-bottom: -8%;
    font-family: Bahnschrift;
}

a {
    text-decoration: none;
    color: black;
    font-size: 120%;

}

.navImages {
    width: 10%;
    vertical-align: middle;
    margin-left: -8%;
    margin-top: -2%;

}

.space {
    margin-top: 60%;
}
