* {
    font-family: Bahnschrift;
}
/*home*/
.usdBalance {
    background-color: #D3E0EA;
    width: 300px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    margin-right: 10px;
}

.balancePosition {
    display: flex;
}

.balanceText {
    margin: 10px;
    padding: 0px;
    color: black;

    font-size: 16px;
}

.textDecoration {
    margin: 0px;
}

.fontSize {
    font-size: 21px;
    margin: -1px;
}

.transaction {
    display: flex;
}



.notFound {
    padding: 15px;
}
