.topNavbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    /*background-color: #1687A7;*/
    height: 10vh;
}

.topNavbar p {
    margin-right: 3%;
    font-weight: bold;
}

.topNavImages {
    width: 32px;
    vertical-align: middle;
}

.topNavImagesSmall {
    width: 26px;
    vertical-align: middle;
}
