.transferBlik-container {
    display: flex;
    flex-direction: column;
    width: 35vw;
    align-items: center
}

.btn-color {
    color: #1687A7;
    background-color: #F6F5F5;
    border-color: #276678;
    border-width: 2px;
    height: 40px;
}
