.columnPosition {
    display: flex;
    flex-direction: column;
}

.rowPosition {
    display: flex;
    flex-direction: row;
}

.shortPayment.hovered {
    transform: scale(1.04);
    /*transition: transform 0.3s ease;*/
    z-index: 1;
}
