.container {
    display: flex;
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    padding: 15px;


}

.wrapperInfo {
    display: flex;

}
.wrapperInfo p {
    padding: 10px;
}

.icons {
    margin: 0 20px;
}
.icons svg {
    padding: 5px;
    color: var(--black);
}
