.accountContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.leftContainer,
.rightContainer{
    display: flex;
    flex-direction: column;
    padding: 10%;
    border-radius: 15px;
    font-size: 24px;
    margin-right: 30%;
}
.leftContainer{
    height: 30%;
    justify-content: center;
    background-color: #65b6d5;
}
.rightContainer{
    align-items: center;
    /*background-color: #65b6d5;*/
}
.cardBottomMargin{
    margin-bottom: 20px;
}
.inactiveCard{
    display: flex;
    flex-direction: column;
}
.activateCard{
    border-radius: 10px;
    background-color: #1b1d2a;
    color: #cccccc;
    padding: 10px;
    cursor: pointer;
}
.activateCard:hover{
    background-color: green;
}
