.accountContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.leftContainer,
.rightContainer{
    display: flex;
    flex-direction: column;
    padding: 10%;
    border-radius: 15px;
    font-size: 24px;
    margin-right: 30%;
}
.leftContainer{
    height: 30%;
    justify-content: center;
    background-color: #65b6d5;
}
.rightContainer{

}
.cardBottomMargin{
    margin-bottom: 20px;
}
