.mainContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-right: 3%;
}
.accountLeftContainer {
    display: flex;
    width: 60%;
    align-items: center;
    /*background-color: #65b6d5;*/
    flex-direction: column;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}
.accountRightContainer {
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    border-radius: 15px;
    background-color: #8cabbe;
}
.accountDataContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    /*margin-top: 5%;*/
}
/*.leftContainer,*/
/*.rightContainer{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border-radius: 15px;*/
/*    font-size: 24px;*/
/*}*/
.leftContainer{
    /*height: 30%;*/
    padding: 2%;
    width: 80%;
    font-size: 22px;
    border-radius: 15px;
    justify-content: center;

    background-color: #65b6d5;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    /*font-size: 24px;*/
    /*padding: 5%;*/
    align-items: center;
    border-radius: 15px;
    /*background-color: #6eb4ec;*/
}
.inactiveCard{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    border: 3px solid #276678;
    margin-top: 10%;
    border-radius: 10px;
    padding-right: 10%;
    padding-left: 10%;
}
.activateCard{
    border-radius: 10px;
    background-color: #1b1d2a;
    color: #cccccc;
    padding: 10px;
    cursor: pointer;
}
.activateCard:hover{
    background-color: green;
}
.detailsButtons{
    display: flex;
    flex-direction: column;
}
.TextInputChange {
    font-size: 20px;
}
.addCardButton{
    width: 20%;
    height: 15%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 20%;
}

