.containerFluid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #F6F5F5;
    border-radius: 20px;
    margin: auto;
    width: 80vw;
    height: 90vh;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.35);
    /*background-color: darkblue;*/
}

.appTop {
    display: flex;
    flex-direction: row;

    /*background-color: red;*/
}

.backgroundWrapper {
    background-color: #F6F5F5;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
}

.mainWindow {
    width: 100%;
}
