
.wrapper div {
    /*width: 15%;*/
    display: flex;
    /*justify-content: space-around;*/


}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.headline {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
