.wrapper {
    position: relative;
    margin:  10px auto ;
    width: 90%;
    display: flex;
    justify-content: center;
}
.inputText{
    position: absolute;
    /*top: 0;*/
    left: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    color: var(--black);
}

.changePositionUp {
    top: -10px;
    font-size: 10px;
}
.changePositionDown {
    top: 0;
    font-size: 16px;
}

.input {
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--black);
    color: black;
    flex-grow: 1;
    z-index: 2;
    justify-content: center;
    padding: 5px;
}

.input:focus {
    border-bottom: 2px solid var(--black);
    outline: none;
}
